[*.cs]

# CS8604: Posible argumento de referencia nulo
dotnet_diagnostic.CS8604.severity = none

# CS8602: Desreferencia de una referencia posiblemente NULL.
dotnet_diagnostic.CS8602.severity = none

# CS8603: Posible tipo de valor devuelto de referencia nulo
dotnet_diagnostic.CS8603.severity = none

# CS8629: Un tipo que acepta valores NULL puede ser nulo.
dotnet_diagnostic.CS8629.severity = none

# CS8714: El tipo no se puede usar como parámetro de tipo en el método o tipo genérico. La nulabilidad del argumento de tipo no coincide con la restricción "notnull"
dotnet_diagnostic.CS8714.severity = none

# CS8621: La nulabilidad de los tipos de referencia del tipo de valor devuelto no coincide con el delegado de destino (posiblemente debido a los atributos de nulabilidad).
dotnet_diagnostic.CS8621.severity = none
